<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Word2007RedactionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Word2007RedactionTool.Properties.Settings>
            <setting name="FindMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindWholeWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindWildcards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindSoundsLike" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindAllWordForms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindMatchPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindMatchSuffix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindIgnorePunct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindIgnoreSpace" serializeAs="String">
                <value>False</value>
            </setting>
        </Word2007RedactionTool.Properties.Settings>
    </userSettings>
</configuration>